[2017-09-25 19:44] GooRiOn opened #4 "Add support for tags"
We should support adding tags, so we can group and validate specific set of rules.

Tasks:
- Modify ValitRule so it can keep set of tags specified by user
- Add Tag() extension method for ValitRule
- Add overload for Validate() which will take set of chosen tags and execute only these rules
- Add properties/methods on ValitRules for receiving tagged/untagged rules

Nice to have:
- Different strate

[2017-09-25 19:55] GooRiOn opened #5 "Add support for message keys"
We should support adding message keys besides "classic" messages.

Tasks:
- Provide interface for message keys provider
- Add WithMessageKey extension method
- Modify ValitRules, so it can get proper messages inside Validate method

[2017-09-25 19:57] GooRiOn opened #6 "Add support for error codes"
We should support putting error codes besides "classic" messages.

Tasks:
- Modify ValitRule so it can keep set of error codes
- Add WithErrorCode extension method

[2017-09-25 20:04] dbarwikowski opened #7 "Add basic tests"
Add some basic tests for:
-Int16
-Int32
-Int64
-UInt16
-UInt32
-UInt64
-Single
-Double
-Byte
-Decimal
-Boolean
-String

[2017-09-25 21:14] GooRiOn commented on #7
Should I create another issue for strategies tests ?

[2017-09-28 18:13] GooRiOn commented on #4
PR #13 merged

[2017-09-28 18:28] GooRiOn opened #15 "Support for IEnumerable<TProperty>"
Due to new architecture, we had to deprecate **EnsureFor()** in IValitRules<TObject>. We need it back!

[2017-09-28 18:33] #4 closed

[2017-09-28 18:38] GooRiOn opened #16 "Change When predicate"
Currently `When()` takes `Func<bool>` as the param but as we switched to `IValitRule<TObject,TProperty>` we can change it to `Predicate<TObject>`.

[2017-09-28 18:45] GooRiOn opened #17 "Move For() to IValitRules<TObject> explicit implementation"
Since `For(TObject @object)` is static initialize method, we have to pass the object even if we just want to execute set of rules.

Tasks:
- Move For() to `IValitRules<TObject>`
- Create static initialize method like Create with optional parameter -
   `IEnumerable<IValitRule<TObject>>`

[2017-09-28 19:10] dbarwikowski opened #18 "Make optional validator builder"
WithStrategy and WithMessageKeyProvider should be optional to set
Default strategy should be set to **Complete**

[2017-09-28 19:49] GooRiOn commented on #17
PR merged [#19](https://github.com/GooRiOn/Valit/pull/19)

[2017-09-28 19:49] #17 closed

[2017-10-02 19:32] #16 closed

[2017-10-03 17:52] arekbal opened #24 "problems in ValitRuleExtension methods"
There are problems in ValitRuleExtensions which surfaced with my PR.

Methods: `Required`, `IsEqualTo`, `IsGreaterThan`, `IsLessThan`, `MinLength`, `MaxLength`, `Matches` handle null improperly.

In `Required`
`p.Equals(default(TProperty))` tries to handle default values such as `int` equal `0` as incorrect 'unrequired' value which is a very specific case... and imho requires specific, strongly ty

[2017-10-03 18:04] arekbal commented on #16
Can I ask what is the advantage of one approach over the other?

[2017-10-03 18:10] arekbal commented on #7
That project needs to handle Nullables, as they are so common. Not mentioning of having a way of handling custom Optionals/Results. As these are usually part of service inputs.

[2017-10-04 17:34] GooRiOn commented on #16
Well, there isn't but my thought was to be consistent in the code. So, if all predicates are actually `Predicate<TOBject>` I wanted `When()` also to follow this instead of having `Func<bool>`

[2017-10-04 17:50] GooRiOn commented on #6
@arekbal @dbarwikowski

I'm not quite sure how should I implement this one. I thought about different approaches but none of them satisfies me pretty much. My thoughts are:

## Creating separate list for error codes
This one is the easiest one to implement, but actually I don't like the idea of keeping different "errors" in two different collections

## Creating some **_ValitRuleError_** object fo

[2017-10-04 18:56] GooRiOn commented on #24
I agree pretty much with all your statements, but still need to make sure I understood everything, so will contact you after my trip to Denmark. But besides that, we'll probably have to break this down into separated issues.

[2017-10-06 17:07] GooRiOn opened #26 "Move back to proper namespaces"
Instead of having just one global namespace (Valit) @arekbal  suggested to use it in a proper way, but all classes/extensions/enums etc. that are exposed to the user should be put inside "metadata" folder with its name staring with underscore (like _Valit). Thanks to that we'll be able to find all of the exposed classes inside the project (will be very handy even more when project will grow a lot)

[2017-10-06 17:11] GooRiOn opened #27 "Add support for Nullable<T>"
Currently we don't support nullable types. Since they are very common we need overloads for most of our validation rules.

[2017-10-06 17:16] GooRiOn opened #28 "Remove Required on value types"
Currently we can do something like this:
[code]

The problem with the above approach is that we use **`default(TProperty)`** inside the condition. Due to that fact if IntValue equals 0, Required rule is not satisfied. We should change that. The suggested solutions are:

- Add overload for `Required` which takes a "strategy" how 0 should be treated
- Remove Required on value types and add only **`.

[2017-10-06 17:25] arekbal commented on #28
I am against 1.
All for both 2 and 3.
With the IsPositive, IsNegative...
https://math.stackexchange.com/questions/26705/is-zero-positive-or-negative
So maybe do IsPositive(bool zeroIsPositive=false) and same with negative?
Heh... But adding NonZero makes sense.

[2017-10-06 17:28] arekbal commented on #5
Could you define how you understand Message Key?

[2017-10-06 17:33] GooRiOn commented on #28
Imho adding flag to the IsPositive and IsNegative is a little bit confusing, because how should we call them?
- zeroIsPositive and zeroIsNegative? or zeroIsPositive for both of them?

Adding NonZero makes much more sense since you can easily define your requirement, so adding:

.IsPositive()
.IsNonZero()

means that you expect a number to be higher than 0, otherwise it can be satisfied also for 0

[2017-10-06 17:56] GooRiOn commented on #5
Key is some sort of string using which we can take the actual message. I thought about something like:

[code]

So user can define it's own structure inside the code and implement only this interface. Then when he want to use it inside our code he goes for something like this

[code]

So, you can keep it in different place rather than hardcoded inside. I know that you could achieve the same withou

[2017-10-07 09:19] arekbal commented on #5
Could we build it on top of some sort "metadata" system? Metadata as in customized data associated with particular objects.

So we could have some sort of this sudo structure:

[code]

Going with this, you would "ask" a provider for message with validation result + rule instance as in smth like:
[code]
Where validator could contain info about field such as validator.FieldName or validator.DisplayN

[2017-10-07 11:51] arekbal opened #29 "Support for System.ComponentModel.DataAnnotations"
There are - in .net - basic built in validation components, which our validation system should support in some later versions. Most of them are placed in assembly+namespace: System.ComponentModel.DataAnnotations
MaxLengthAttribute and so on...

[2017-10-08 18:09] GooRiOn opened #32 "Support for Epsilon on double and float"
Currently we don't support Epsilon in extensions for double and float. The suggestion is that each method should have default parameter like:

`(this IValitRule<TObject, double> rule, double value, double epsilon = 0.0d)`

so user can specify it, but it's not required. Each method should then consider this number in the calculations. Need to applied for:

- IsGreaterThan()
- IsLessThan()
- IsEqual

[2017-10-08 18:11] GooRiOn opened #33 "Support for Infinity on float and double"
We should consider validation for Infinity in double and float. It might be tricky and honestly I don't know how how rules are implemented in C#. It's not super important imho.

[2017-10-08 18:13] GooRiOn commented on #29
Now I think this one is not required for 0.1.0 :P I'll schedule that for next releases.

[2017-10-08 18:56] arekbal commented on #33
It is only important with our epsilon calculations and subtraction(#32). I guess we cannot do  3.f - Single.PositiveInfinity or a reverse of this operation. Algorithm for this should just check values before doing subtraction. Oh... and Math.Abs(Single.NegativeInfinity) does what? returns positive? :D

[2017-10-09 18:11] #24 closed

[2017-10-09 18:12] #28 closed

[2017-10-09 18:12] #7 closed

[2017-10-10 18:36] #6 closed

[2017-10-10 21:12] arekbal opened #43 "Replace Strategy Enum with an Interface"

[2017-10-12 07:53] arekbal opened #45 "Prepare nuget packages publishing with CI"

[2017-10-12 17:54] #43 closed

[2017-10-12 18:44] #27 closed

[2017-10-13 16:19] GooRiOn opened #46 "Add extension methods for DateTime"
I noticed that we have very poor support for DateTime. We need couple methods which might be handy for people like:

- IsLaterThan(Datetime dateTime)
- IsEarlierThan(Datetime dateTime)
- IsLaterThanNow()
- IsEarlierThanNow()

[2017-10-13 17:56] arekbal commented on #46
Lol... so... TimeSpan, DateTimeOffset and nullable variants.

[2017-10-13 17:57] arekbal commented on #46
IsInRange

[2017-10-17 16:10] #46 closed

[2017-10-18 05:36] #5 closed

[2017-10-18 05:36] #18 closed

[2017-10-19 11:49] dbarwikowski opened #63 "Create Generic tests for Int and UInt"
We need tests for integers:
-Int16
-Int32
-Int64
-UInt16
-UInt32
-UInt64

and nullable integers:
-Int16?
-Int32?
-Int64?
-UInt16?
-UInt32?
-UInt64?

Ideally we will have two generic classes which will handle most cases and 12 inherited classes which will contain more specific checks

[2017-10-20 08:02] GooRiOn opened #64 "Add summary for every method/class"
Currently we don't have any summary for classes and methods as well. As far as I know, this is highly requested by folks who could probably use Valit.

[2017-10-21 19:30] GooRiOn opened #72 "Add support for Guid and Nullable<Guid>"
I noticed that we still miss support for Guid type. If you have any suggestions about extension methods that could be useful, just write them below :) My thought was:

- IsNotEmpty
- IsEqualTo
- IsRequired (for nullable)

[2017-10-22 18:49] dbarwikowski opened #74 "Add time~ tests"
We need testes for:
- [x] DateTime
- [x] DateTimeOffset
- [x] TimeSpan

Requested coverage is 100%

[2017-10-22 18:51] dbarwikowski opened #75 "Add floating point extensions test"
Tests needed for:
- Float
- Double
Requested coverage: 100%

[2017-10-23 10:13] #63 closed

[2017-10-24 08:45] dbarwikowski opened #77 "Support System.Boolean"
Obvious ones are:
- IsTrue
- IsFalse
- IsEqual

[2017-10-24 08:46] dbarwikowski opened #78 "Support System.Char"

[2017-10-24 15:00] GooRiOn commented on #77
what's the point of IsEqual having two above methods?

[2017-10-24 15:03] GooRiOn commented on #78
I think that we should not support all of these methods. We're not designing the language from scratch. I'd even say that we should not support char for a now since it's not that common in C# to store numbers in char type. @arekbal what's your opinion on that one?

I'd leave it now and give folks only general method - Satisfies.

[2017-10-25 09:46] dbarwikowski commented on #77
IsTrue/False is like hardcoding value, and IsEqualTo provides you an ability to parametrise it

[2017-10-25 09:49] dbarwikowski commented on #78
It's not planned for 0.1.0, and it's not very usefull in my opinion, but remember, that people do weird things with code ;)

[2017-10-26 17:03] #26 closed

[2017-10-26 18:34] dbarwikowski opened #82 "Hide GetMessageProvider on ValitRule"

[2017-10-27 06:44] #75 closed

[2017-10-30 11:16] dbarwikowski opened #87 "Tests for String type"

[2017-10-30 11:24] dbarwikowski opened #88 "Framework tests"
We need to test:

- [x] Strategies
    - [x] Complete
    - [x] FailFast
- [x] Exceptions
    - [x] SemanticExceptions
    - [x] ValitExceptionExtensions
    - [x] ValitExceptionMessages
- [x] ValitRules class
- [x] ValitRule class
- [x] ValitRuleAccessorExtensions
- [x] ValitResult
- [x] EmptyMessageProvider
- [x] ValitRuleError

[2017-10-30 11:25] dbarwikowski opened #89 "Tests for property extensions"

[2017-10-30 21:31] #74 closed

[2017-10-31 07:27] #82 closed

[2017-10-31 19:35] #87 closed

[2017-11-01 16:59] #89 closed

[2017-11-01 20:31] #88 closed

[2017-11-02 23:37] #29 closed

[2017-11-12 13:32] #72 closed

[2017-11-12 15:51] #45 closed

[2017-11-13 09:13] dbarwikowski opened #108 "Change framework to netstardard1.0"

[2017-11-18 16:41] GooRiOn opened #112 "Support for nested object"
We should support validation for nested objects. As we discussed couple weeks ago we could provide a generic interface for our validator class like:

[code]

And then create an overload on the ``Ensure()`` method which could get the instance of this validator instead of rules set:

[code]

I'm still not quite convinced about an overload, maybe some extension method like:

[code]

It's worth mentio

[2017-11-18 16:48] GooRiOn opened #113 "Default error messages"
I think it would be nice to have a default messages for all validation rules. Notice that in most cases you would write message like:

[code]

... and so on. What I'm trying to say is that in many cases the actual message would be quite predictable :D That's why I thought about populating the ``ErrorMessages`` array in the ``IValitResult`` with default messages. Of course using ``WithMessage()`` w

[2017-11-18 16:54] paw3lx opened #114 "Support for comparing two properties"
I think it could be nice to have ability to compare two properties of an object:

`.Ensure(m => m.Password, _ => _.IsEqualTo(m => m.RePassword))`

What do you think about it?

[2017-11-18 17:36] GooRiOn commented on #114
Yup, that looks cool. Do you want to create an overload for each binary operation, or just ``IsEqualTo()`` ?

[2017-11-23 20:34] #112 closed

[2017-11-23 21:17] paw3lx commented on #114
It will be great to create overload for `IsLessThan()` and  `IsGreaterThan()` too.

[2017-11-24 11:44] goblinhero opened #117 "Add support for variable messages at runtime"
E.g. for translation of the error messages depending on user's culture.

Basic usage would be something along the lines of
`.WithMessage(()=> _translationService.GetError("Missing_Email"))`

[2017-11-26 20:26] GooRiOn commented on #117
Can you tell me what is the advantage of this solution over message provider? I guess, I simply miss something :D

[2017-11-26 20:34] arekbal commented on #114
@paw3lx That would be also useful with BeginDate/EndDate/BeginTime/EndTime validations where one have to predate the other.
But, wouldn't adding another overload to Ensure() with another argument(model) achieve the same with somehow cleaner syntax? Like
`.Ensure(m => m.RePassword, (_, m) => _.IsEqualTo(m.Password))`

Or both could be made available but I think promoting single 'best' way of doing

[2017-11-27 09:05] goblinhero commented on #117
It is a lot simpler, since you do not need to define a separate class for just getting translated texts - and it is extremely versatile since you can put in as much logic as you'd like. I'll look into expanding it to support using the entity under test as a parameter, so you can go: `.WithMessage(person => $"{person.Email} is not a valid email")`

[2017-11-27 11:43] tdeschryver opened #122 "Suggested small changes"
Hi,

First of, great project here (found it via c# digest)!
After contributing yesterday, I would suggest these small changes - I'm willing to create PRs for the ones that get accepted 😄

- [x] Small change to `.gitignore` because right now every file from `./tools` will be commited when someone builds the project via the build scripts
- [x] Add [dotnet-watch](https://github.com/aspnet/DotNetTools

[2017-11-27 17:32] arekbal commented on #122
1. Could you elaborate on this one? I understand the change you are willing to make. I just don't get the reason. Why your build scripts are creating some folder named tools in the root? What if we were to have the same folder in the root under this name? :)
2. I am in favor of this but I wanted to know if it would affect our plans of moving into .net standard assemblies at some point so I added t

[2017-11-27 17:39] GooRiOn commented on #122
Arek
1. Cake is creating this folder since we have some external dependencies inside build.cake file (I guess it's xUnit).
3. I agree. Since not everyone is using same IDE, this could be handy 👍

[2017-11-27 17:41] GooRiOn commented on #117
Now I get it :D

[2017-11-27 17:46] arekbal commented on #117
I think that it could be achieved in different fashion but the utility this solution provides is higher than the cost.

But I would go with convention where you provide a current property value first and then separate overload with value and "entity under test"/"model" as second parameter just as I suggested in #114. So it would go like this:
`.WithMessage(v => $"{v} is not a valid email")`
`.With

[2017-11-27 17:50] timdeschryver commented on #122
@arekbal

1. See @GooRiOn's answer
2. Thanks for testing it on .net standard
3. The main reasons are tabs as spaces and also indent size. Some others that could be useful are, trim white spaces, charset, end of line, insert final new line.
4. Indeed for EOLs and also merge options i.e. `*.sln -text merge=union`

[2017-11-27 20:57] paw3lx commented on #114
@GooRiOn What do you think about @arekbal syntax?

[2017-11-27 21:10] GooRiOn opened #123 "Tagging rules for collections - expected behavior"
As you can see, I added support for collections using ``EnureFor()`` method (PR #120). The issue I noticed is related to the tagging.

The whole concept of supporting collection for either primitive types or nested objects is based on separated implementations of ``IValitRule<TObject, TProperty>`` interface, so:
- ``NestedObjectCollectionValitRule``
- ``CollectionValitRule``

The idea was to aggre

[2017-11-27 21:17] GooRiOn commented on #114
I'd go for Arek's suggestion mostly because that is fairly simple to implement and does what it should. I also agree that we should promote "best way" of doing something instead of "couple fine" ways. The only problem I have is that the old syntax will be depricated (at the second version) :D

On the one hand we don't have a lot of "fame" right now so "the soon the better". But on the other, it co

[2017-11-27 21:19] GooRiOn commented on #122
@tdeschryver I guess that both thumbs up mean that you have a green light for your changes :)

[2017-11-28 09:29] #117 closed

[2017-11-28 17:10] timdeschryver commented on #122
Okido, I'll create a PR for every change.

[2017-11-29 17:25] tdeschryver opened #128 "New rule: String required"
👋 all,

Would it make sense to add a `String.Required` rule, or should `String.MinLength` be used here?
This rule would do the check via `string.IsNullOrWhiteSpace()`.

I can create a PR if this gets expected.

[2017-11-29 17:58] paw3lx commented on #128
I think that it's good idea, because other types (int?, float? etc) already has `Required` rule. Of course we can also use `MinLength`, but it will be good to have `Required` rule in every nullable type.

[2017-11-29 18:22] GooRiOn commented on #128
Honestly, I'm  little bit surprised that we missed that :D We should go for it for sure 👍

[2017-11-29 18:24] #77 closed

[2017-11-29 18:27] GooRiOn commented on #123
@paw3lx  @tdeschryver @arekbal  @dbarwikowski any comments on that one? I'd like to finish this task :/

[2017-11-29 18:31] #108 closed

[2017-11-29 19:02] timdeschryver commented on #123
I don't got a strong opinion about this because I'm not 100% sure how the tag system will be used, but here are my 2 cents.

Personally I would create different `IValitRule`s and chain the rules I need instead of using tags, once I actually need it.

Would this also impact the following code?
- `IValitResult result1 = valitRules.Validate("A");`
- `var result1 = rules.Validate(rule => rule.Tags.Any

[2017-11-29 19:35] GooRiOn commented on #123
Yup, the tagging will impact both of presented scenarios. The issue is that currently we don't have a method which will allow you to tag ``CollectionValitRule`` so we should have something like:

[code]

This can be done very easily but it implies inconsistency since once we need to call ``Tag()`` and another time just pass it as a parameter :/

[2017-11-29 20:11] GooRiOn commented on #123
I think that we can leave it for a now without much carring about tagging collections.  We need to see whether folks will actually use tags :D @arekbal  suggested that we should remove it completely to promote single way of doing something (so as you described creating another chain) instead of multiple alternatives. PR #120 is waiting for you guys 👍

[2017-11-29 20:35] GooRiOn opened #129 "Add CreateValitator() extension method to the IValitRules<TObject>"
Once we have ``CreateValitator()`` extensions method  introduced by NestedObjects PR, we can easily add same thing for ``IValitRules<TObject>``. This needs to be done after #120 PR will be merged.

[2017-11-29 21:14] GooRiOn commented on #128
@tdeschryver I did this change since I had some free time. Unfortunately I didn't checkout to the new branch (I didn't notice error  that I typed git checkout -b incorrectly) and I pushed changes directly to the develop... Since it's protected branch I can't revert this... Please take a look at this commit and if something will be wrong, I'll create a PR with fixes:

https://github.com/valit-stack

[2017-11-29 21:36] GooRiOn commented on #128
Ok I did the revert commit :D The PR #130 was created for this change :)

[2017-12-02 15:40] #128 closed

[2017-12-02 15:54] #15 closed

[2017-12-02 16:15] #123 closed

[2017-12-02 21:09] #122 closed

[2017-12-02 22:14] GooRiOn opened #133 "Authors file"
Guys, I'd like to add AUTHORS.txt file inside the project so folks can see the full list of contributors + their emails to contact. If you don't mind, please give me your emails that you'd like to put inside.

[2017-12-03 15:54] GooRiOn opened #134 "Docs 0.2.0"
Does anyone could help me with docs for next release? PLEASE!

We need to add:

Inside "Validation rules"

- [x] ``Required()`` for string in "Available validation rules"
- [x] Add bool rules inside "Available validation rules"
- [x] "Validating nested objects" section after "Available validation rules"
- [x] "Validating collections" section after "Validating nested objects"

We also need to add n

[2017-12-03 16:54] paw3lx commented on #134
Yeah, sure. I can help with docs inside "Validation rules". I will create PR for this.

[2017-12-03 17:04] GooRiOn commented on #134
Great! Then I'll do "Valitators" :) Thanks a lot m8 👍

[2017-12-03 17:06] timdeschryver commented on #134
Shouldn't we also add the `Boolean` validation rules?
I can help with writing or proof reading the docs, maybe not today but surely tomorrow.

[2017-12-03 17:07] GooRiOn commented on #134
You're right :D

[2017-12-03 17:08] GooRiOn commented on #134
@tdeschryver so maybe you could help @paw3lx ?

[2017-12-04 16:36] tdeschryver opened #135 "Asserts in tests"
I was dabbling around and noticed the `Assert.Equal` methods in the tests are having the wrong signature.
For example:
`Assert.Equal(result.Succeeded, expected);`
should be:
`Assert.Equal(expected, result.Succeeded);`

Is it OK to change this (`Assert.True` and `Assert.False`) by using `Shouldly`?
This way all our tests are written with `Shouldly`.

[2017-12-04 17:48] #129 closed

[2017-12-04 17:58] GooRiOn commented on #135
I agree, we should switch fully to shouldly 👍

[2017-12-04 18:10] GooRiOn commented on #134
Thx guys :) I'm writing my part right now so new version of docs should be available later this day. We officially released v0.2.0!

THANK YOU!

[2017-12-04 22:33] GooRiOn opened #142 "Broken develop"
Something weird happend to develop :/ Today I merged develop into master (with rebase) to create a release for version v0.2.0. After a while I realized that I forgot to change the version inside csproj file. I did the change on the develop and I created another PR from develop into master. It turned out that the PR contained all commmits (38) and changes (213) from from 0.2.0 once again. I updated

[2017-12-04 22:40] GooRiOn commented on #142
I guess it was caused by my stupid rebase...

The options I see are:
- Merge master -> develop and develop ->master to have proper merge done. Byt wi will end up with ~350 commits on both branches with 2 duplicates from 0.2.0
- Create new develop from master but we'll need to create new PR

[2017-12-04 23:03] #134 closed

[2017-12-05 09:20] GooRiOn commented on #142
All right, fixed by doing push force on the develop. Now we have same commits on both branches and everything works as expected (verified that). Unfortunately you need to create your PR once again into develop branch. Could you do that @tdeschryver  and @paw3lx? Sorry for that

[2017-12-05 10:42] timdeschryver commented on #142
@GooRiOn Done!

[2017-12-05 10:44] GooRiOn commented on #142
@tdeschryver thank you, and once again sorry :/ It's embarrassing :/

[2017-12-05 10:48] timdeschryver commented on #142
Haha, it was no biggie.
It can happen to each one of us! 😄

[2017-12-05 13:18] paw3lx commented on #142
@GooRiOn I created new PR.

[2017-12-05 13:21] GooRiOn commented on #142
@paw3lx  thank you so much, and sorry for all the trouble!

I close the issue :)

[2017-12-05 13:21] #142 closed

[2017-12-06 19:44] #135 closed

[2017-12-07 18:22] GooRiOn opened #145 "Features for v0.3.0"
Version 0.2.0 was released two days ago, o I think we can start thinking about features for next release. If you have any suggestions, please put them in the comments below :)

For a now we'll definitely,  add:
- [ ] Support for comparing two properties described in #114

[2017-12-09 15:54] GooRiOn opened #146 "Add more thing for customising error messages"
I'd be cool if we could add more things for customising error messages. I thought about something very simple like "tokens" which we could put into the string which then would be replaced with something like "{displayName} is required".  I thought about the following tokens:
- propertyName
- displayName
- value

The above would imply adding new extension method - ``WithDisplayName()``

[2017-12-09 15:55] GooRiOn commented on #145
#146
#147
#148

[2017-12-09 15:58] GooRiOn opened #147 "Validating nested objects - passing the IValitator<TObject>"
Currently to validate a nested object we need to pass the ``IValitRulesProvider`` object to ``Ensure`` method. Actually we could pass ``IValitator`` object instead since there's no problem with that and we could simply a code even more. Honestly I don't why I didn't do this at the first time :D

[2017-12-09 16:18] GooRiOn opened #148 "Integrating with ASP.NET Core"
I think that having the very solid Core library, we should start thinking about some integration projects and here comes the first one. I thought about creating new NuGet for the ASP.NET Core apps. The idea is simple, allow folks to kick off the validation before we start processing the particular action in the  MVC6 controller, so the could use ``ModelState`` object to see the result (just like i

[2017-12-10 18:50] paw3lx commented on #148
Yes, that kind of middleware would be great! I will be happy to help.

[2017-12-11 08:29] GooRiOn commented on #148
@paw3lx great! We'll need to find out how to implement that :D

[2017-12-11 15:48] GooRiOn commented on #148
As far as I understand we need to create our custom ``ModelValidatorProvider`` which can be later added using:

[code]
I found internal implementation for the data annotations on GitHub:

https://github.com/aspnet/Mvc/blob/64ffcfaa89177683a1fd08d5407a09f897bf97e0/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal/DataAnnotationsModelValidatorProvider.cs

This won't be a simple task, but we shou

[2017-12-11 16:00] timdeschryver commented on #145
Looks great to me!

[2017-12-11 16:01] timdeschryver commented on #146
Maybe something else to add would be to override the default messages? (Having localization in mind)
Perhaps this a separate issue tho...

[2017-12-11 16:05] GooRiOn commented on #147
I'd like to pick this one. Any comments? Shall we do breaking change and switch this to pass valitators instead?

[2017-12-11 16:20] GooRiOn commented on #145
I'd also add #113

[2017-12-11 16:28] GooRiOn opened #149 "Integrating with Autofac"
Would be cool to create an integration package for Autofac. There are lot's of thing that we could add here so hesitate to add something in the comments ;) The simplest integration would be:

[code]

Calling that we would look through the assembly and register all valitators as singletons.

[2017-12-11 17:51] GooRiOn opened #150 "Refactor resolving IValitResult from rules collection"
Currently we have 3 places where the code responsible for getting the result from rules is duplicated:

- ``ValitRules``
- ``NestedObjectValitRule``
- ``NestedObjectCollectionValitRule``

Would be cool if we could get rid of this somehow 👍

[2017-12-12 17:26] timdeschryver commented on #147
I think we can afford to introduce breaking changes atm.

[2017-12-12 21:29] GooRiOn commented on #147
ok, then I'll do that !

[2017-12-12 21:32] GooRiOn commented on #147
I'll create PR tommorow

[2017-12-17 17:06] GooRiOn commented on #145
Does anyone want to do a particular task? Or you'd prefer free pick?

[2017-12-17 17:17] timdeschryver commented on #145
I will take a look at #113, if thats OK.

[2017-12-17 17:20] GooRiOn commented on #145
Perfect :)

[2017-12-17 17:23] GooRiOn commented on #145
All right, since we'll have some breaking changes then I think the best thing we can do is to switch to 1.3.0 version instead of 0.3.0. This will be a clear mark that something changed in the codebase since we'll increment first number in the version. Sounds good?

[2017-12-17 17:40] timdeschryver commented on #145
I'm not against it, I surely think it's a good idea for in the feature once we've hit 1.0 and stabilized the codebase.
For now I would just go to 0.3 or maybe even better 1.0?

[2017-12-17 17:45] GooRiOn commented on #145
There are two reasons I thought about jumping from 0.2.0 to 1.3.0:
- when I started the project, I didn't think that we'll have this number of features before version 0.3.0 (not saying about 1.0.0) so it could be hard to add new features for next 7 releases until v1
- 1.0.0 for many folks might looks like the first version

As far as I know when it comes to versioning the rules are:
- change last

[2017-12-17 17:50] #150 closed

[2017-12-17 19:50] paw3lx commented on #145
Hi guys. I'm little busy right now. I'll be able to do some tasks in the next week. But in the next few days I will try to simplify the code in #114.

[2017-12-17 19:52] GooRiOn commented on #145
@paw3lx sure :) No Need to rush :)

[2017-12-18 16:12] timdeschryver commented on #113
I had some free time today and started the implementation in [wip/feature/113](https://github.com/valit-stack/Valit/tree/wip/feature/113).
For now only `ValitRuleInt32Extensions.IsGreaterThan` is implemented.

Whats bugging me the most is the way to get the `IsGreaterThan` value (in your example it would be 2).
For now I'm passing the value through `Satisfies` and I am wondering if there is a bett

[2017-12-25 20:27] GooRiOn commented on #148
All right, after short break I finally got back to the project and I started doing this task localy. Surprisingly, I got first, working prototype done fairly quickly (about 30 minutes), so it's not that hard as I thought.  However there are two issues that we need to overcome somehow:

1. As far as I see #113 issue is required for this task since the whole validation is based on error messages. Th

[2017-12-25 20:57] GooRiOn opened #154 "Remove IValitRulesProvider"
This issue is related to the discussion started in #151 . Basically @tdeschryver suggested removing ``IValitRulesProvider`` since it's not used for nested objects validation anymore. Then instead of doing:

[code]
we could simply pass another ``IValitRules`` object instead:

[code]

This would also remove the confusion about the ``GetRules()`` method since it's not clear whether it returnes ``IVal

[2017-12-25 21:22] GooRiOn commented on #148
Since the Valit.Examples repo was empty I put there my prototype with example integration. Of course it works just for specific type but at least we'll know the direction of this integration :D

[2018-01-02 16:18] #147 closed

[2018-01-05 09:43] Jogai commented on #145
Regarding version numbers; according to semver you would make this jump: 0.2.0 -> 1.**0**.0

See https://semver.org/#spec-item-8

And I would love to see some documentation on whats different/unique/better compared to fluentvalidation...

[2018-01-06 16:05] #113 closed

[2018-01-06 16:12] GooRiOn opened #156 "Resolve rules chain inside Validate"
As you see we have a #114 almost done by @paw3lx. However we spotted that this feature requires the whole rules chain to be resolved  inside ``Validate()`` method since the object is required as a one of the parameter of the selector. This will cause the inconsistency comparing to the previous solution where each chain is resolved inside ``ValitRules`` object (more precisely inside ``Ensure()``).

[2018-01-06 16:33] GooRiOn commented on #145
@Jogai , I think you're right with the versioning. Thanks for sharing this :) I'll change the milestone and label then.

Regarding docs, I'm not sure whether it's a good idea and what's the point of doing that. It's the developer who decides which library suits more his needs. Both Valit and FV are build completely differently and represent different approaches. But maybe I simply miss something :

[2018-01-08 20:47] paw3lx commented on #149
Sounds cool. I can take this one :)

[2018-01-08 21:14] GooRiOn commented on #149
Nice!

[2018-01-09 18:22] timdeschryver commented on #145
No strong opinion on this matter, but I agree with you.
Maybe we could add a `Why` section?

[2018-01-10 00:20] Jogai commented on #145
Or just a list of features, or use cases where it's applicable.

[2018-01-10 19:50] #154 closed

[2018-01-28 13:57] GooRiOn commented on #145
I was quite busy for couple last weeks but I'm back. From what we have I'm going to create 1.0.0-preview1 version. I'll do the same for ASP.NET Core plugin.

@paw3lx what's the status on Autofac plugin? Can I help with that somehow?

[2018-01-28 14:15] paw3lx commented on #145
Yea, I'm quite busy too. As you probably saw, I added just one integration - RegisterValit(), which register all Valitators as Singletons. Do you have any idea what we can add here?

[2018-01-29 20:14] GooRiOn commented on #145
That actually a good question :D I though that we could also think about auto discovering validators for nested objects in case it was not passed as ``IValitator`` instance inside ``Ensure`` or ``EnsureFor``. But I think we should move this discussion to other repo :)

[2018-02-13 17:56] abhilashdonepudi opened #160 "Support for .NetStandard"
Any plans for supporting .Net standard. Planning to use this in a Xamarin app.

[2018-02-13 18:21] GooRiOn commented on #160
@abhilashdonepudi which .NET Standard do you mean?

[2018-02-13 19:15] abhilashdonepudi commented on #160
.NET Standard 2.0

https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-standard-2-0/

[2018-02-17 16:42] GooRiOn opened #161 "Return custom result type from IValitResult<T> and IValitator<T>"
I think it could be a nice feature to allow defining output result from ``IValitRules<T>`` like follows:

[code]

Things are little bit more complicated in ``IValitator<T>`` because here we would have to add generic interface like ``IValitator<TModel,TResult>`` and create abstract class which would take in the ctor ``Func<ValitResult, TResult>``. But overall I think this would be very cool because

[2018-02-17 16:52] GooRiOn commented on #160
I'll change this in 1.0.0. Expected by the end of this month.

[2018-03-31 12:57] #148 closed

[2018-03-31 12:57] #133 closed

[2018-03-31 13:21] GooRiOn commented on #160
1.0.0 has just been published with target framework changed to .NET Standard 2.0 :)

[2018-03-31 13:21] #160 closed

[2018-04-03 12:02] dbarwikowski commented on #161
Shouldn't we pass it in front of chain, and fill during validation?

    ValitRules<Model, Result>
        .Create()
        .Ensure(m => m.Password,
                _=>_.Contains("1") ,
                r => {
                        r.Status.Set(ValidationStatus.Invalid);
                        r.Reasons.Add("Password doesn't contain '1'");
                })
        .Validate();

[2018-04-03 12:09] dbarwikowski commented on #149
Actually, we are targetting for .NET Core (right?) why don't we use built-in dependency resolver and simplify to

    Configure(IServiceCollection services)
    {
        services.AddValit();
    }

Thanks to this, we would be able to ignore existance of all DI frameworks. Tell me if I'm wrong :)

[2018-04-03 12:17] dbarwikowski commented on #146
What about cases where we compare two properties of model

    "'EndDate' must be later than 'StartDate'"

[2018-04-03 12:27] dbarwikowski commented on #114
I prefer @paw3lx syntax. I think it's more human friendly and easier to remember.

@arekbal what would you suggest to use instead of '_'?

[2018-04-03 12:38] dbarwikowski commented on #33
@arekbal returns 'Application encountered unexpected operation and needs to restart your operating system'

[2018-04-03 17:37] arekbal commented on #33
returns Positive :)

[2018-04-03 17:38] arekbal commented on #114
'x', 'a', 'v' ?

[2018-04-04 12:34] dbarwikowski commented on #114
'()' ?

[2018-04-07 21:56] arekbal commented on #114
Let me just note that closures with reference interception would be a bit slower because these cannot be cached.

[2018-06-21 23:44] Wintereise opened #164 "Validation for reference types seems nonfunctional"
Very simple test class:

[code]
The error returned is that `The type <bool|ushort> must be a reference type to use it as parameter TProperty` for `ValitRulePropertyExtensions.Required<TObject, TProperty> where both are defined as classes`. C# assumes these to be structs, so it doesn't work.

I did notice however that bool and a few other types have type specific extension methods defined, how do w

[2018-07-02 08:28] Wintereise commented on #164
It works if the fields are made nullable, which is what we ended up doing.

[2018-07-02 08:28] #164 closed

[2018-08-09 10:58] aletc1 opened #165 "Dont call .Satisfies() condition when .When() returns false"
In this code snippet:
[code]
In the current version, condition1 and condition2 gets evaluated. But wouldnt be better to not evaluate condition1 if condition2 fails (returns false)?

**Expected result:** condition1 doesnt get evaluated if condition2 evaluates to false

Thank you

[2018-08-10 12:33] GooRiOn commented on #165
Good point! I'll look at that.

[2018-08-15 10:01] dirk-vdb opened #166 "String MaxLength rule should accept empty string"
When we use the MaxLength rule for validating an empty string, the rule returns a validation error.
This rule must check the *max length* of the string, not whether it is *empty*. Emptyness should be checked by the MinLength rule.

[2018-10-03 05:34] bovorasr commented on #166
Mind if I knock some of these issues out for Hacktoberfest?

What do you think this should do for null values? Just jumping into this project, it looks like perhaps it should still throw a validation error when the string is null (?).

I'm basing that on the implementation of IsEqualTo, which states that null != null (two null values in IsEqualTo throws a validation error).

I can also see the arg

[2018-10-03 06:05] bovorasr commented on #166
The more I look at this, the more I think Required on string should not use IsNullOrEmpty, but instead should only check null. That's consistent with the implementation of of the value type extensions + an empty string is a valid string of zero length.

The implementation of the rest of the string extensions should then also only use a null check.

To illustrate why: as it is right now, A MinLengt

[2018-10-07 11:24] GooRiOn commented on #166
Sorry for beeing so late to the party guys. From now on I'm gonna be more involved in Valit again.

I must say that I agree pretty much with all your statements. Using ``string.IsNullOrEmpty`` was wrong choice here. However I'm not quite sure what to do with this issue because changing these all string conditions to null-checks would mean quite serious change :/

@bovorasr  I;ll look at your PR an

[2018-10-07 11:53] GooRiOn opened #168 "Remove Microsoft.DotNet.Watcher.Tools from test project"
``Microsoft.DotNet.Watcher.Tools`` is no longer supported and it needs to be removed from ``*.csproj`

[2018-10-07 12:11] #168 closed

[2018-10-07 12:11] #166 closed

[2018-10-12 12:50] GKotfis commented on #32
Help still needed? I can pick up this one :)

[2018-10-13 20:40] GooRiOn commented on #32
@GKotfis sure! Feel free to take this one :)

[2018-10-15 08:26] GKotfis commented on #32
Before I change bunch of code I'd like to show my approach.
I used algorithm from https://floating-point-gui.de/errors/comparison/
Here are the changes for `IsGreaterThan` for `Double`
https://github.com/GKotfis/Valit/commit/aad3d76e478a05a4143adb5404ad53dfcf698263
I haven't write new unit test so far - just checked that this change doesn't broke anything.
What do you think about that?

[2018-10-15 15:15] #165 closed

[2018-10-23 07:10] GooRiOn commented on #32
I read the article and it looks good to me. Your implementation also looks good, however I think you should also consider handling ``Double.NaN`` values inside ``IsNearlyEqual`` method.

[2019-02-26 03:19] rmszc81 opened #173 "Question - Dependent Rules"
Good morning @all,

I have one question.

In the FluentValidation framework by Jeremy Skinner, we can use DependentRules, such as this example here: https://fluentvalidation.net/start#dependent-rules

In Valit, is there any way to achieve this behavior? I really enjoy using Valit but I couldn't realize any way to achieve dependency between rules.

Thank you very much!

Regards,

[],

@rmszc81

[2019-03-26 11:08] dbarwikowski commented on #173
@rmszc81 Hey, thanks for question.
Currently there is no support for Dependent Rules.
Could you put more light on this topic?
I would like to get better understanding in which scenarios this is useful.

Regards,
DB

[2019-03-26 12:31] GooRiOn commented on #173
As FV author says:

So in Valit there the similar way to acheive that using ``When()`` extension which eveluates validation rules only when given predicate returns ``true``.

[2019-03-27 01:09] rmszc81 commented on #173
@dbarwikowski, @GooRiOn yes, it's true, we can achieve that using the When clause but, in my specific case (and many other projects from past), we have two stages of validation.

1) we validate if the objects has "correct values", not empty, not null, etc.
2) we use these same objects to perform a database query to ensure the 2nd stage of the validation.

Real code, FV:

[code]
On this example, fi

[2019-11-25 21:30] GooRiOn opened #174 "Migrate to .NET Standard 2.1"

[2019-12-23 22:23] #174 closed

[2019-12-23 22:23] GooRiOn opened #175 "Migrate to .NET Core 3.1"

[2020-01-02 17:19] brunomartinspro opened #176 "For(@object) throws exception when null"
The for option should have a handled output with an error message, optionally a custom error message would be awesome.

[code]

[2020-01-02 17:22] brunomartinspro commented on #176
It seems adding the following code solves it..

[code]

[2022-06-25 14:26] #173 closed